/*colors*/
$clr-primary: #F25C30;
$clr-primary-hover: #ff805b;
$white: #fff;
$black: #000;
$dark-gray: #1d1d1d;
$medium-gray: #7b7a7a;



/*media query*/
$large-desktops: "max-width: 1440px";
$desktops: "max-width: 1199px";
$tablets: "max-width: 991px";
$landscape-phones: "max-width: 767px";
$portrait-phones: "max-width: 575px";